services:
    nginx_mcp:
        image: nginx:latest
        volumes:
            - ./:/var/www/
            - ./_docker/images/nginx/conf.d/:/etc/nginx/conf.d/
        ports:
            - "8003:80"
        container_name: mcp_nginx
        depends_on:
            - php_mcp
    php_mcp:
        build:
            context: .
            dockerfile: ./_docker/images/php/Dockerfile
        volumes:
            - ./:/var/www/
        depends_on:
            - mysql_mcp
        container_name: mcp_php
    mysql_mcp:
        image: mysql:8.2.0
        restart: always
        ports:
            - "3309:3306"
        command: mysqld --character-set-server=utf8mb4 --collation-server=utf8mb4_unicode_ci --log_bin_trust_function_creators=1
        env_file:
            - ./_docker/images/mysql/mysql.env
        container_name: mcp_mysql